<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.androidbt">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />

	<uses-permission android:name="android-permission.CAMERA"/>
	<uses-permission android:name="android-permission.FLASHLIGHT"/>
	<application android:label="ZXingSample.Android"></application>
   
	<application android:label="AndroidBT.Android" android:theme="@style/MainTheme"></application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
